@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding: 0;
}

.menu-item{
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}

.image>img{
    width: 100%;
}

h2, p{

    margin-right: 67.5px;
    margin-left: 67.5px;
}

h2, button{
    text-transform: uppercase;
}

h4.footer{
    text-align: right;
    margin-right: 80px;
}

button{
    background-color: #FF0000;
    color: white;
    text-align: center;
    border-radius: 4px;
    height: 51px;
    width: 191px;
    border: #FF0000;
}
